body {
    background-color: burlywood;
}

header {
    background-color: darkred;
}

footer {
    background-color: #600;
}

h1 {
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    width: 500px;
}