body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: darkgray;
    background-color: black;
    background-image: url("/DND-Wiki/images/Medieval_City_Scape.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-nav {
    padding: 0.1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: #201b13cc;
    border-bottom: 2px solid #AB966F;
}

.top-nav a {
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 2em;
    text-align: center;
    color: #AB966F;
    background-color: black;
}

main {
    margin: 1em;
}

footer {
    min-height: 5rem;
    display: flex;
    background-color: #0d0d0def;
    border-top: 2px solid #AB966F;
}

h1 {
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}

table {
    background-color: #AB966F;
}

th {
    padding: 0.5em;
    color: whitesmoke;
    background-color: black;
}

td {
    padding: 0.5em 1em;
    justify-content: center;
    background-color: #0d0d0d;
}

.content {
    margin: 0 3% 3% 3%;
    background-color: #0d0d0def;
}

.content-top-border {
    height: 1em;
    border: 2px solid #AB966F;
    border-bottom: none;
}

.content-bot-border {
    height: 1em;
    border: 2px solid #AB966F;
    border-top: none;
}

.content header {
    display: flex;
    justify-content: center;
}

.content .title {
    width: 90%;
    padding-bottom: 2em;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #AB966F;
    text-shadow: #AB966F 0px 3px 0.2em;
}

.content section {
    display: flex;
    flex-direction: column;
}

.content .top-content {
    flex-direction: row;
    flex-flow: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

.content h2 {
    margin: 1em;
    padding: 0.75em 0em;
    text-align: center;
    border-top: 2px solid #d0c4af30;
    border-bottom: 2px solid #d0c4af30;
}

.content p {
    margin: 0.5em;
    line-height: 1.5em;
}

.description {
    min-width: 70%;
    flex: 4;
}

.content-img {
    flex: 1 18em;
    margin: 0.5em;
    padding: 1em;
    border: 3px double #AB966F;
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content-img h3 {
    margin: 1em;
    padding-bottom: 2em;
    border-bottom: 1px solid #d0c4af80;
    text-align: center;
}

.content-img img {
    width: 100%;
}

/* Extra Large Devices Desktops */
@media (max-width: 1200px) {}

/* Large Devices Desktops */
@media (max-width: 992px) {}

/* Medium Device Tablets */
@media (max-width: 768px) {
    body {
        font-size: 0.8em;
    }

    td,
    th {
        padding: 0.1em;
    }
}

/* Small Device Landscape */
@media (max-width: 576px) {

    td,
    th {
        font-size: 0.9em;
    }

    .top-nav {
        position: static;
        flex-direction: column;
    }
}