body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #cecfc9;
    margin: 0rem;
}

header,
footer {
    color: #E0E1DD;
    width: 100%;
    padding: 1rem;
}

header {
    background: linear-gradient(180deg, #0D1B2A, #1B263B);
}

footer {
    background: linear-gradient(0deg, #0D1B2A, #1B263B);
}

main {
    margin: 0.5rem;
    padding: 0.5rem;
}

section {
    margin-top: 1rem;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

li {
    margin-left: 1rem;
}

/* Location Class Begin */

.location {
    border: 0.1rem solid #000;
    color: #0D1B2A;
}

.location p {
    text-indent: 2rem;
    margin: 5rem;
    font-size: 1.2rem;
}

.location img {
    width: 20rem;
    margin: 1rem auto;
    border: 0.1rem solid #000;
    display: block;
}

.location table {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1rem;
    background-color: #0D1B2A;
}

.location thead {
    background-color: #415A77;
}

.location th {
    padding: 1rem;
}

.location td {
    background-color: #778DA9;
    padding: 1rem;
    min-width: 4rem;
}

/* Location Class Begin */